.default {
  font-size: 1.5rem;
  color: var(--cream);
  padding-inline: 4.5rem;
  padding-block: 0.9rem;
  font-family: inherit;
  border: none;
  border-radius: 0.6rem;
  font-weight: bold;
}

.blue {
  background-color: var(--blue);
}

.terraCotta {
  background-color: var(--terraCotta);
}
