.default {
  font-size: 1.25rem;
  color: var(--cream);
  padding-inline: 1.5rem;
  padding-block: 0.3rem;
  font-family: inherit;
  border: none;
  border-radius: 0.6rem;
}

.blue {
  background-color: var(--blue);
}

.terraCotta {
  background-color: var(--terraCotta);
}

.profileCardButton {
  background-color: var(--terraCotta);
  height: 1rem;
  width: 1rem;
  font-size: 0.3rem;
  text-align: center;
  white-space: nowrap;
}

.contactFormButton {
  background-color: var(--terraCotta);
}
