.skillCard {
  position: relative;
  border-radius: 1em;
  height: 25vh;
  width: 40vw;
  border: 3px solid #c8553d;
  margin-bottom: 2%;
  padding: 0;
}

.text {
  color: var(--cream);
  position: absolute;
  bottom: 8px;
  /* left: 16px; */
  font-size: 5vw;
  width: 30vw;
  background-color: var(--terraCotta);
  text-align: center;
}

.image {
  object-fit: cover;
  border-radius: 1em;
  width: 100%;
  height: 100%;
}
