.container {
  display: grid;
}

.imageContainer {
  margin: auto;
  padding: 5%;
}

.image {
  border-radius: 0.3rem;
  min-width: 470px;
}

.textContainer {
  text-align: left;
  padding: 0% 10% 5% 10%;
  top: 5%;
}

.discoverbutton{
  background-color: var(--terraCotta);
  padding-inline: 0.75rem;
  padding-block: 0.5rem;
  font-size: 0.6rem;
  white-space: nowrap;
  font-weight: normal;
  cursor: pointer;
  align-items: center;  
}
.aboutText {
 
  text-align: center;
  font-size: 1.1rem;
}
.aboutUs {
  
  text-align: left;
  font-size: 1rem;
   }

.discoverButtonLayout{

 padding: 1%;

}

.startYourJourney{
  font-weight: bold;
  font-size: 1.1rem;
}

.signUpButtonLayout {
 
  padding: 1%;
 
}

.bothButtons {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 600px) {

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
   
  }
  
  .imageContainer {
    margin: auto;
    width: 1000px;
  }
  
  .image {
    border-radius: 0.3rem;
    width: 1000px;
  }
  
  .textContainer {
    text-align: center;
    padding: 0% 10% 5% 10%;
    top: 5%;
   
  
  }

  .aboutText{
  
  font-size: 1.5rem;
    margin-left: 30%;
    font-weight: bold;
  }

  .aboutUs {
 margin-top: 20%;
 background-color: var(--terraCotta);
 padding: 5%;
 border-radius: 7%;
 
  }

 

  .sectionContainer{
   
    display: flex;
    flex-direction: row;
    width: 80vw;
  }

  .aboutUs{
    color: var(--cream);
  }

  .aboutUsContainer {
    
  margin-top: -5%;
   width: 60vw;
  
  }

  .discoverbutton{
    background-color: var(--terraCotta);
    padding-inline: 0.75rem;
    padding-block: 0.5rem;
    font-size: 0.6rem;
    white-space: nowrap;
    font-weight: normal;
    cursor: pointer;
    align-items: center;  
   
  }

  .discoverbutton:hover {
    background-color: var(--blue);
  }
  
  .discoverButtonLayout{
    align-items: center; 
    
  }
  .signUpButtonLayout {
    margin-left: 2%;
    
   
  }
  .discoverButtonLayout{
    margin-left: 20%;
    
   }
   .aboutUs {
    text-align: left;
    font-size: 1.3rem;
     }
  
 
  
  .startYourJourney{
    font-weight: bold;
    font-size: 1.35rem;
  }
}

/* @media (max-width: 600px) {
  .aboutUs {

  }
} */