.container {
  display: grid;
}

.sectionContainer {
  display: grid;
  grid-template-columns: 1fr;
  width: 90%;
  margin-inline: auto;
  align-items: center;
  justify-content: center;
}


.aboutUs {
  background-color: var(--terraCotta);
  color: var(--cream);
  padding: 1rem;
  border-radius: 0.5rem;
}

.imageContainer {
  width: min(100%, 300px);
  justify-self: center;
  border-radius: 0.5rem;
}


.textContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.discoverbutton {
  background-color: var(--terraCotta);
  padding-inline: 0.75rem;
  padding-block: 0.5rem;
  font-size: 0.6rem;
  white-space: nowrap;
  font-weight: normal;
  cursor: pointer;
  align-items: center;
}
.discoverbutton:hover {
  background-color: var(--blue);
}
.aboutText {
  text-align: center;
  font-size: 1.1rem;
}
.aboutUs {
  text-align: left;
  font-size: 1rem;
}

.startYourJourney {
  font-weight: bold;
}

.signUpButton:hover {
  background-color: var(--terraCotta);
}
.aboutUs {
  text-align: center;
}

.bothButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
@media (min-width: 800px) {
  .sectionContainer {
    grid-template-columns: 1fr 1fr;
    width: 80%;
    gap: 2rem;
    padding-block: 2rem;
  }
  .imageContainer {
    width: min(100%, 400px);
    justify-self: center;
    border-radius: 0.5rem;
  }
  .aboutUs {
    font-size: 1.3rem;
  }
}
/* .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .imageContainer {
    margin: auto;
    width: 1000px;
  }

  .image {
    border-radius: 0.3rem;
    width: 500px;
  }

  .aboutText {
    font-size: 1.5rem;
    margin-left: 30%;
    font-weight: bold;
  }

  .aboutUs {
    margin-top: 20%;
    background-color: var(--terraCotta);
    padding: 5%;
    border-radius: 7%;
  }

  .aboutUs {
    color: var(--cream);
  }

  .aboutUsContainer {
    margin-top: -5%;
    width: 60vw;
  }

  .discoverbutton {
    background-color: var(--terraCotta);
    padding-inline: 0.75rem;
    padding-block: 0.5rem;
    font-size: 0.6rem;
    white-space: nowrap;
    font-weight: normal;
    cursor: pointer;
    align-items: center;
  }

  .discoverbutton:hover {
    background-color: var(--blue);
  }

  .discoverButtonLayout {
    align-items: center;
  }
  .signUpButtonLayout {
    margin-left: 2%;
  }

  .aboutUs {
    text-align: left;
    font-size: 1.3rem;
  }

  .startYourJourney {
    font-weight: bold;
    font-size: 1.35rem;
  } */
