.logoContainer {


    /* background-color: rgb(252, 227, 227); */

    width: 40%;

/* 
    background-image: url('/media/icons/LogoMain.svg');
    background-repeat: no-repeat;
    background-size: 100%; */




}



