.container {
  background-color: var(--terraCotta);
  font-family: inherit;
  color: var(--cream);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96vw; 
  border-radius: 0.4rem;
  padding-block: 0.4rem;
  gap: 0.5rem;
  margin-bottom: 1.5rem;


  padding: 20px;
}

.magnifyingGlass {
  width: min(20%, 30px);
  margin-left: 15px;
  cursor: pointer;
}

.searchInput {
  width: 75%;
  margin-left: 15px;
  
  padding-block: 0.5rem;
  border: none;
  border-radius: 0.1rem;
  padding-left: 0.5rem;
}

.radio {
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  .container {
  
  }
}