.form {
	padding: 30px;
	display: flex;
	flex-direction: column;
	font-weight: bold;
	text-align: center;
}

.label {
	padding: 10px;
	text-align: left;
	font-weight: bold;
	font-size: larger;
	font-size: 16px;
	
}








.emailInput {
	width: 63%;
	text-align: left;

   padding: 5px 15px;
   margin: 0px 25px;


   border-radius: 5px;
   border: solid 2px var(--blue);

   font-family: copyFont;
}






.messageInput {
	height: 150px;
	width: 75%;
	text-align: left;

   padding: 5px 15px;
   margin: 0px 10px;


   border-radius: 5px;
   border: solid 2px var(--blue);

   font-family: copyFont;

   
   
}

























.contactInfo {
	text-align: left;
	padding: 30px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;

	padding-top: 5px;
   padding-left: 10px;
   padding-right: 15px;
   padding-bottom: 5px ;
   margin: 3px 7px;
   border-radius: 5px;
   border: solid 2px var(--blue) 
}























.inputField {
	background-color: #f6f0ed;
   width: 95%;
   padding-top: 5px;
   padding-left: 10px;
   padding-right: 15px;
   padding-bottom: 5px ;
   margin: 3px 7px;
   border-radius: 5px;
   border: solid 2px var(--blue) 
}
 
.inputContainer {
    display:grid;
    grid-template-columns: max-content max-content;
    grid-gap:5px;
}

.padding {
	padding-top: 10px;
}
