.form{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.label {
    padding: 10px;
    text-align:left;
    font-weight: bold;
    font-size: larger;
}

.messageInput{
    height: 150px;
    width:60%;
    text-align: left;
    margin-left: 20px;
}

.emailInput {
    width: 60%;
    margin-left: 40px;
}

.contactInfo {
    display: flex;
}