.profileSection {
  display: grid;
  grid-template-columns: 1fr;
  padding: 2rem;
  gap: 3rem;
  width: 100%;
  color: var(--darkBrown);
  font-family: copyFont;
 
}

.profileSection h3,
.profileSection ul,
.profileSection p {
  margin: 0;
  padding: 0;
}
.profileSection h3 {
margin-left: 10%;
padding: 3%;
border-radius: 12%;
font-weight: bold;

}



.profileInfoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 column-gap: 2.5rem;
  width: 100%;
 
  
}



.bio {
  text-align: right;
  margin-left: 20%;

}

.learnSkills {
  text-decoration: none;
  text-align:right;
}

.teachSkills{
  text-align: right;
}
.profileInfoContainer ul {
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
}

.profileInfoForm > textarea {
  width: 90%;
  height: 10rem;
  border-radius: 0.5rem;
  border: solid 2px var(--blue);
  font-family: inherit;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: var(--cream);
  margin: 6%;
}

.messageContainer{
  margin-top: -15%;
}

.messageTitle{
  margin-bottom: 10%;
  font-weight: bold;
  font-size: 1.2rem;
}

.title {
  display:inline-block;
  height:fit-content;
  background-color: var(--blue);
  color: var(--cream);
}