.footerContainer {
	display: flex;
	flex-direction: column;
	background-color: #c8553d;
	font-size: large;
}

.sitemapContainer {
	padding: 2%;
	text-decoration: underline;
	line-height: 110%;
}

.sitemapContainer a,
.otherLinksContainer a,
.copyrightContainer p {
	font-size: 1.1rem;
	color: var(--cream);
}

.otherLinksContainer a {
	margin: 2% 2% 0% 2%;
	text-decoration: underline;
	padding-top: 5%;
}

.socialContainer {
	margin-bottom: 1%;
}

.socialContainer a {
	margin: 0% 2% 0% 2%;
}
@media (min-width: 600px) {
	.footerContainer {
		display: flex;
		flex-direction: column;
		background-color: #c8553d;
		font-size: inherit;
	}

	.sitemapContainer {
		padding: 1.5%;
	}

	.sitemapContainer a,
	.otherLinksContainer a,
	.copyrightContainer p {
		color: var(--cream);
	}

	.otherLinksContainer a {
		margin: 0% 2% 0% 2%;
	}

	.socialContainer a {
		margin: 0% 2% 0% 2%;
	}
}