.sloganText {
  background-color: var(--terraCotta);
  color: var(--cream);
  width: 100%;
  padding-inline: 3rem;
  padding-block: 0.5rem;
  margin: 0.1rem 0 0 0;
}

.discoverHeading {
  color: var(--blue);
  margin: 1rem 0 0.5rem 0;
}
