.containerTestimonials {
    background-color: var(--terraCotta); 
    text-align: center;
    padding: 30px;
  }

  .title {
    font-family: var(--subTitle);
    color:var(--cream);
  }

  .testimonials {
    font-style: oblique;
    color: var(--cream);
    text-align: center;
  }

  .wholeTestimonials {
    padding: 40px;
  }